sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
matrix:
  include:
    - python: 3.9
      dist: xenial
      sudo: true
install: pip install -r requirements.txt -r requirements_dev.txt
script: 
  - make test
  - make lint
